/*General*/
body {
  overflow-x: hidden;
}

.link {
  text-decoration:none;
  color: #457b9d;
}
.link:hover {
  background-color:transparent;
  color: #457b9d;
}

tr {
  border: none;
  padding-left: 0 !important;
  
}

td {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

/*Navigation*/
.navbar {
  background-color: #14213d !important;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2) !important;
}

li :hover {
  background-color:none;
}


.logo-container {
  border: 1px solid white;
  margin-left: -14%;
}

.logo {
  color: white;
}

.masthead {
  height: 40vh;
  min-height: 500px;
}

/*Login & Signup*/

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding: 0 55px 45px 55px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #007ea7;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.btn-form {
  background-color: #007ea7 !important;
  border-color: #007ea7 !important;
}


 /*Unsplash Gallery*/
 .images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer {
  background-color: #fdcb6e;
}

/*Create House*/
/* .house-info {
} */

/* @media (min-width: 768px) */
.col-md-4 {
    flex: 0 0 33.333333% !important;
    max-width: 32% !important;
}


.createHomeBtn {
  cursor: pointer;
  border-radius: 100% !important;
  box-shadow: 0px 1px 2px 1px #ccc;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 24px !important;
  padding: 2px 13px 5px 13px !important;
  margin-bottom: 3%;
}

.createHomeBtn:hover {
  box-shadow: 2px 4px 6px 1px #ccc;
}

/* .profile-container{
  height: 35%;
} */